{% extends "todoapp/base.html" %}
    {% block content %}
    <section class="py-5 text-center container animate-bottom" style="display:none;" id="myDiv" >
      
      
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 >Add task by speech</h1>

          <form method="POST" class="row row-cols-lg-auto g-3 justify-content-center align-items-center m-4 pb-2">
            {% csrf_token %}
            <div class="col-12">
              <div class="form-outline">
                <input type="text" id="form1" class="form-control border border-3" name="task" value="{{ text }}"/>
              </div>
            </div>

            <div class="col-12">
              <button type="submit" class="btn btn-primary">Confirm and Add task</button>
            </div>
          </form>

          
        </div>
      </div>
      

      
    </section>
    {% endblock content %}
    
    