{% extends "todoapp/base.html" %}
    {% block content %}
    
    <section class="py-5 text-center container animate-bottom" style="display:none;" id="myDiv">
      <div class="text-start">
        <a href="{% url 'logout' %}"><button style="background: firebrick; color: white;" type="submit" class="btn btn-primary "><i class="fa-solid fa-arrow-left"></i> Logout Session</button><a>
      </div>
      
      <div class="row py-lg-2">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 >Your Todo List </h1>

          <form method="POST" class="row row-cols-lg-auto g-3 justify-content-center align-items-center m-1 pb-1">
            {% csrf_token %}
            <div class="col-12">
              <div class="form-outline">
                <input type="text" id="form1" class="form-control border border-3" name="task" placeholder="Enter Your Todo task" required/>
              </div>
            </div>

            <div class="col-12">
              <button type="submit" class="btn btn-dark"> <i class="fa fa-plus" aria-hidden="true"></i>  Add New Task</button>
            </div>
          </form>
          <div class="col-12 m-2">
            <a href="{% url 'task-by-speech' %}"><button  class="btn btn-dark" onclick="toggleElement('info')"> <i class="fa-solid fa-microphone"></i>  Add Task by Speech</button></a>
          </div>
          <div id="info" style='display:none;'>
            <h6>Speak after 2 seconds and Please wait after finished speaking.</h6>
          </div>

          
        </div>
      </div>
      <ul class="nav justify-content-center nav-pills m-2 ">
        <li class="nav-item ">
          <a class="nav-link {% if active == 'all' %}active {% endif %}" href="{% url 'home-page' %}">All tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active == 'finished' %}active {% endif %}" href="{% url 'finished' %}">Completed tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active == 'pending' %}active {% endif %}" href="{% url 'pending' %}">Pending tasks</a>
        </li>
        
      </ul>
      {% if todos %}

      

      <table class="table m-2 table-hover table-primary  " >
        <thead>
          <tr class="table-dark">
            <th scope="col" >Task</th>
            <th scope="col" >Status</th>
            <th scope="col" >Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for todo in todos %}
          <tr>
            <td style= 'word-wrap: break-word;min-width: 230px;max-width: 230px;{% if todo.status %}text-decoration: Line-Through;color:#03911d;{% endif %}'  >{{todo.todo_name}}</td>
            
            {% if todo.status == True %}
              <td>Completed</td>
            {% else %}
              <td>In progress</td>
            {% endif %}

            <td >
              <a href="{% url 'edit' todo.id %}"><button type="submit"  class="btn btn-warning btn-sm m-2"> 
                <i class="fas fa-edit"></i> Edit</button></a>
              <a href="{% url 'delete' todo.id %}"><button type="submit" class="btn btn-danger btn-sm m-2"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button></a>
              <a href="{% url 'update' todo.id %}"><button type="submit" class="btn btn-success btn-sm m-2">{% if todo.status == True %} <i class="fa-solid fa-x"></i> Mark as not Finished {% else %}<i class="fa fa-check" aria-hidden="true"></i> Mark as Finished {% endif %}</button></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% else %}
      <div class='container-fluid'>
        <h3>There are no Tasks to do. Add new tasks to get started.</h3>
      </div>
      {% endif %}


      
    </section>

    <script>
      function toggleElement(elementId) {
          var element = document.getElementById(elementId);
          if (element.style.display === 'none' || element.style.display === '') {
              element.style.display = 'block';
          } 
      }
    </script>
    {% endblock content %}

    